<h3>予定の新規追加</h3>

<%= render "shared/error", obj:@task %>

<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :title ,"タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <div>
      <%= f.label :start_day ,"開始日" %>
      <%= f.date_field :start_day %>
    </div>
    <div>
      <%= f.label :finish_day ,"終了日" %>
      <%= f.date_field :finish_day %>
    </div>
  </div>

  <div>
    <%= f.check_box :all_day %>
    <p>終日の場合はチェックを入れます。</p>
  </div>

  <div>
    <%= f.label :memo ,"スケジュールメモ" %>
    <%= f.text_field :memo %>
  </div>

  <div>
    <%= link_to "キャンセル", :tasks %>
    <%= f.submit "保存" %>
  </div>
<% end %>